/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

@import "bourbon";
@import "base/base";
@import "neat";
@import "table-borders";

input[type=text], textarea {
	border: 1px solid #ccc;
	height: 2em;
	margin: 0;
	padding: 0;
	width: 95%;
}

textarea {
	width: 10em;
}

input.button {
    width: auto;
}

table {
  width: auto;
}

td, th {
  text-align: center;
  white-space: nowrap;
}

/*
table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid #444;
	text-align: center;
}

th {
	background-color: #ddd;
}
*/
tr#totals td {
	font-weight: bold;
}
